* {
	box-sizing: border-box;
	padding: unset;
	border: unset;
	margin: unset;
	outline: unset;
	color: inherit;
	font: inherit;
}

canvas, img, video, audio {
	display: block;
}

button, input, select {
	unset: all;
	display: inline-block;
	cursor: pointer;
}

textarea {
	border-radius: 0;
	vertical-align: top;
}

textarea, pre {
	overflow: auto;
}

ol, ul, li, dl, dt, dd {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	box-sizing: content-box;
	height: 0;
}

a, a:hover, a:active {
	text-decoration: none;
}

b {
	font-weight: bolder;
}

i {
	font-style: italic;
}

svg {
	overflow: visible;
	fill: currentColor;
}

/* Consistent superscript/subscript */
sup, sub {
	position: relative;
	vertical-align: middle;
	font-size: 58.3%;
	line-height: 0;
}

/* ~33.3% up or down for superscript and subscript; You may need to adjust for custom fonts */
sup {
	top: -0.33333em;
}
sub {
	top: 0.33333em;
}


:root {
	--back: hsl(0, 0%, 90%);
	--front: hsl(215, 0%, 20%);
	--focus: hsl(120, 0%, 50%);
}



html {
	background-color: var(--back);
	color: var(--front);
	font: 20px/1.5 sans-serif;
	font-size: calc(1em + 1vw);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: subpixel-antialiased;
	text-overflow: ellipsis;
}

body {
	overflow-x: hidden;
	overflow-y: scroll;
}

p, blockquote {
/* 	white-space: pre-line; */
}





/* @supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {} */

html, body {
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
	height: 100%;
/* 	height: 100vh;
	perspective: 1000px;
	transform-style: preserve-3d;
	scroll-behavior: smooth; */
}


.layer {
	position: absolute;
	backface-visibility: hidden;
	transform-origin: bottom;
}


/* .city { transform: scale(1.5) rotateX(70deg) translateY(calc(1029/4514 * -99vw)) rotateX(-70deg) } */







h1.title {
	position: absolute;
	top: 10%;
	left: 10%;
}





p.lead {
	position: absolute;
	top: 20%;
	left: 10%;
/* 	right: 10%; */
	max-width: 60%;
	min-width: 10em;
}





nav.primary {
	position: absolute;
	bottom: 10%;
	right: 0%;
	left: 10%;
	font-size: 140%;
	visibility: hidden;
}

nav.primary .item {
	display: block;
	flex: 0 0 7em;
	width: 7em;
	padding: 0 .2em;
	border: 2px solid transparent;
	border-radius: 4px;
	visibility: initial;
}

nav.primary .item:focus-visible {
	border: 2px solid var(--focus);
}

nav.primary .item:hover {
	background: hsla(0, 0%, 0%, 0.1);
}

nav.primary .item:active {
	background: var(--front);
	color: var(--back);
}




div.nested {
	display: flex;
	justify-items: flex-start;
	align-items: stretch;
}

ol.links {
	display: inline-flex;
/* 	overflow-x: scroll; */
	flex: 1 1 0;
	align-items: center;
	font-size: 50%;
	visibility: initial;
}

ol.links li {}

ol.links a {
	display: block;
	padding: 0.2em 0.6em;
	border: 2px solid transparent;
	border-radius: 4px;
	line-height: 1;
}

ol.links .status,
ol.links time {/* 	display: none; */opacity: 0.8;font-weight: bold;font-size: 50%;}

ol.links h3 {
	white-space: nowrap;
}


ol.links a:focus-visible {
	border: 2px solid var(--focus);
}

ol.links a:hover {
	background: hsla(0, 0%, 0%, 0.1);
}

ol.links a:active {
	background: var(--front);
	color: var(--back);
}














.box {
	position: absolute;
	display: block;
	transform-style: preserve-3d;
	--width: 100px;
	--height: 100px;
	--depth: 100px;
	--shadow: 0.0;
	--ambient-hue: 0;
	--ambient-saturation: 0%;
	--ambient-lightness: 0%;
	--ambient-color: hsla(
		var(--ambient-hue, 0),
		var(--ambient-saturation, 0%),
		var(--ambient-lightness, black),
		var(--ambient-occlusion, 0)
	);
	--ambient-occlusion: 0.2;
	--ambient-occlusion-search: 60px;
	--texture: linear-gradient(currentColor, currentColor);
}



.cube {
	top: 50%;
	left: 50%;
	--width: 100px;
	--height: var(--width);
	--depth: var(--width);
	--texture: linear-gradient(#efc672, #e7b764);
	--texture: url(https://i.gyazo.com/84a7ac13ec361afdee2a98df172ea6a3.jpg), linear-gradient(#efc672, #e7b764);
	transform: perspective(700px) rotateX(-15deg) rotateY(35deg);
	transform-style: preserve-3d;
	animation: spin 30s infinite cubic-bezier(0, 0.54, 1, 0.63);
}


@keyframes spin {
	0% { transform: perspective(700px) rotateX(-15deg) rotateY(630deg) }
	100% { transform: perspective(700px) rotateX(-15deg) rotateY(35deg) }
}


/* Cube 3D Model */
.box > :nth-child(-n + 7) {
	position: absolute;
	top: 50px;
	left: 50%;
	display: block;
/* 	backface-visibility: hidden; */
/* 	border: 2px solid black; */
	--half-width: calc(var(--width) * 0.5);
	--half-height: calc(var(--height) * 0.5);
	--half-depth: calc(var(--depth) * 0.5);
}

.box > :nth-child(-n + 6) {
	background-image: var(--texture, linear-gradient(white, black));
	background-image: linear-gradient(0deg, hsla(0, 0%, 0%, var(--shadow)), hsla(0, 0%, 0%, var(--shadow))), var(--texture, linear-gradient(white, black));
	background-size: 100%;
}

.box > :nth-child(2),
.box > :nth-child(4),
.box > :nth-child(5),
.box > :nth-child(6) {
	background-image:
		linear-gradient(0deg, var(--ambient-color) 0, calc(var(--ambient-occlusion-search) * 0.5), transparent calc(var(--ambient-occlusion-search) * 3.5)),
		linear-gradient(0deg, hsla(0, 0%, 0%, var(--shadow)), hsla(0, 0%, 0%, var(--shadow))),
		var(--texture, linear-gradient(white, black));
}

.box > :nth-child(1),
.box > :nth-child(3) { width: var(--width); height: var(--depth); margin-left: calc(var(--half-width) * -1); margin-top: calc(var(--half-depth) * -1) }
.box > :nth-child(2),
.box > :nth-child(5) { width: var(--width); height: var(--height); margin-left: calc(var(--half-width) * -1); margin-top: calc(var(--half-height) * -1) }
.box > :nth-child(4),
.box > :nth-child(6) { width: var(--depth); height: var(--height); margin-left: calc(var(--half-depth) * -1); margin-top: calc(var(--half-height) * -1) }


.box > :nth-child(1) { --shadow: 0.00; transform: rotate3d(1, 0, 0, 0.25turn) translateZ(var(--half-height)) }
.box > :nth-child(2) { --shadow: 0.55; transform: rotate3d(0, 1, 0, 0.50turn) translateZ(var(--half-depth)) }
.box > :nth-child(3) { --shadow: 0.65; transform: rotate3d(1, 0, 0, 0.75turn) translateZ(var(--half-height)) }
.box > :nth-child(4) { --shadow: 0.05; transform: rotate3d(0, 1, 0, 0.25turn) translateZ(var(--half-width)) }
.box > :nth-child(5) { --shadow: 0.20; transform: rotate3d(0, 1, 0, 0.00turn) translateZ(var(--half-depth)) }
.box > :nth-child(6) { --shadow: 0.45; transform: rotate3d(0, 1, 0, 0.75turn) translateZ(var(--half-width)) }

.box > .shadow {
	width: var(--width);
	height: var(--depth);
	border-radius: calc(var(--ambient-occlusion-search) * 0.5);
	background: var(--ambient-color, black);
	margin-left: calc(var(--half-width) * -1);
	margin-top: calc(var(--half-depth) * -1);
	box-shadow: 0 0 calc(var(--ambient-occlusion-search) * 2) calc(var(--ambient-occlusion-search) * 0.5) var(--ambient-color, black);
	transform: rotate3d(1, 0, 0, 0.75turn) translateZ(var(--half-height)) translateZ(-1px) rotateY(0.5turn);
}



.box:hover { animation-play-state: paused }
.box:hover {
	--ambient-hue: 0;
	--ambient-saturation: 100%;
	--ambient-lightness: 100%;
	--ambient-occlusion: 1;
	--ambient-occlusion-search: 5px;
}







