* {
	box-sizing: border-box;
	padding: unset;
	border: unset;
	margin: unset;
	outline: unset;
	color: inherit;
	font: inherit;
}

canvas, img, video, audio {
	display: block;
}

button, input, select {
	unset: all;
	display: inline-block;
	cursor: pointer;
}

textarea {
	border-radius: 0;
	vertical-align: top;
}

textarea, pre {
	overflow: auto;
}

ol, ul, li, dl, dt, dd {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	box-sizing: content-box;
	height: 0;
}

a, a:hover, a:active {
	text-decoration: none;
}

b {
	font-weight: bolder;
}

i {
	font-style: italic;
}

svg {
	overflow: visible;
	fill: currentColor;
}

/* Consistent superscript/subscript */
sup, sub {
	position: relative;
	vertical-align: middle;
	font-size: 58.3%;
	line-height: 0;
}

/* ~33.3% up or down for superscript and subscript; You may need to adjust for custom fonts */
sup {
	top: -0.33333em;
}
sub {
	top: 0.33333em;
}


:root {
	--light: hsl(20, 10%, 70%);
	--dark: hsl(20, 20%, 20%);
	--primary: hsl(20, 73%, 41%);
}



html {
	font: 20px/1.5 sans-serif;
	font-size: calc(1em + 1vw);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: subpixel-antialiased;
	text-overflow: ellipsis;
	background-color: var(--light);
	color: var(--dark);
}

body {
	overflow-x: hidden;
	overflow-y: scroll;
}










html {
	position: relative;
	height: 100%;
}

body {
	height: 600%;
}













.scenes {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	overflow: hidden;
	perspective: 1000px;
}

.scene {
	transform-style: preserve-3d;
}


#scene-one {
	height: 100vmin;
	outline: 4px dashed hsla(0, 0%, 100%, 0.5);
	outline-offset: -2px;
	transform-origin: bottom;
	transform: rotateX(0deg) translateZ(calc(var(--position, 0) * -1px));
/* 	transform: translateY(-0vw) rotateX(60deg) translateY(calc(100% + var(--position, 0) * -1px)); */
}


.laptop {}


.keyboard {}


.trackpad {}


.screen {
	background-color: white;
	width: 170vmin;
	height: 100vmin;
}


.operating-system {
	position: relative;
	width: 100vw;
	height: 100vh;
	border-top: 30px solid black;
	background-color: hsl(0, 0%, 69%);
	/* 	background-image: linear-gradient(to bottom, hsl(0, 0%, 0%) 20px, hsl(30, 10%, 80%) 0, 75%, hsl(215, 10%, 80%)); */
	background-image: linear-gradient(to bottom, hsl(30, 10%, 80%) 0, 75%, hsl(215, 10%, 80%));
	backface-visibility: hidden;
	transform-style: preserve-3d;
	transform: translateZ(2px);
}


.browser {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 90vw;
	height: 90vh;
	padding-top: 25px;
	border-radius: 4px;
	margin: auto;
	background-color: hsl(0, 0%, 95%);
}


.tab {
	position: relative;
	display: grid;
	grid-auto-columns: minmax(auto, 800px);
	justify-content: center;
	overflow: hidden;
	width: 100%;
	height: 100%;
	padding: 20px 4vw 200px;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
	background-color: white;
	transform-style: preserve-3d;
}































h1.site {
	font-size: 160%;
}

h2.title {
	font-size: 140%;
}

h3.title {margin-bottom: 10px;}

article.post {
	margin: 10px 0;
}

blockquote.snippet {
	font-size: 60%;
}

blockquote.snippet span.status {
	
}

blockquote.snippet time {
	
}

article.post a.link {
	position: relative;
	display: inline-block;
	padding: 2px 4px;
	margin: -2px -4px;
	border-radius: 2px;
}

article.post a.link::after {
	content: '';
	position: absolute;
	left: 4px;
	right: 4px;
	bottom: 3px;
	border-bottom: 2px solid hsla(0, 0%, 0%, 0.1);
}

article.post a.link:hover {
	background-color: hsla(0, 0%, 0%, 0.05);
}

article.post a.link:active {
	top: 1px;
	box-shadow: inset 0 1px 1px hsla(0, 0%, 0%, 0.2);
	background-color: hsla(0, 0%, 0%, 0.15);
}



